<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/styles.css">
		<title>Mi Portafolio Online</title>
	</head>
	<body>
		<header id="yo" class="Header">
			<nav>
				<ul>
					<li>
						<a href="#Yo">Yo</a>
					</li>
					<li>
						<a href="#Perfil">Perfil</a>
					</li>
					<li>
						<a href="#Trabajo">Trabajo</a>
					</li>
					<li>
						<a href="#Contacto">Contacto</a>
					</li>
				</ul>				
			</nav>
			<figure class="Header-imageContainer">
                <img src="../static/images/avatars.jpg" alt="Imagen personal" class="Header-image"/>
                <figcaption class="Header-imageDescription">
                    <a class="Header-link" href="http://twitter.com/yobakaj/" target="_black">@yobakaj</a>
                </figcaption>
            </figure>
            <p class="Header-name" >Anthony Ruiz</p>
		</header>
		<section id="perfil" class="Profile">
			<h2>Mi Perfil</h2>
			<p>
				Hola, Tomate unos minutos para ver mi portafolio... y contactame GRACIAS.
			</p>
			<a href="http://twitter.com/yobakaj/" target="_black">@yobakaj</a>
			<a href="http://www.facebook.com/yobakaj" target="_black">Anthony Ruiz</a>
			<a href="http://github.com/ajruiz/" target="_black">ajruiz</a>
		</section>

		 <section id="trabajo" class="Work">
		<h2>Mi Trabajo</h2>
<!-- articulo 1 -->
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Descripcion de mi imagen">
					<figcaption>curso mejorandola</figcaption>
				</figure>
			</article>
<!-- articulo 2 -->
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Descripcion de mi imagen">
					<figcaption>curso mejorandola</figcaption>
				</figure>
			</article>
<!-- articulo 3 -->
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Descripcion de mi imagen">
					<figcaption>curso mejorandola</figcaption>
				</figure>
			</article>
<!-- articulo 4 -->
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Descripcion de mi imagen">
					<figcaption>curso mejorandola</figcaption>
				</figure>
			</article>
<!-- articulo 5 -->
			<article>
				<figure>
					<img src="mejorandola.jpg" alt="Descripcion de mi imagen">
					<figcaption>curso mejorandola</figcaption>
				</figure>
			</article>
		</section>
		
		<footer>
			<h3>Contacto</h3>
			<p>si tienes sugerencias o quieres trabajar conmigo, ponte en contacto conmigo con este formulario</p>
			<form>
				<input type="text" placeholder ="Nombre"/>
				<input type="email" placeholder ="Email"/>
				<textarea placeholder ="Motivo"></textarea>
				<button type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>